.resimSlider{
    height: 600px;
}
body{
    padding-top:50px;
    font-family: 'Raleway', sans-serif;
}
.hakkimizda{
    background-color: #f2f2f2;
}
.ayrac{
    border: none;
    border-top: 3px solid #01070e;
    max-width: 250px;
    margin: 25px auto;
    
}
.ibeyaz{
    color:#01070e ;
    position: relative;
    top: -55px;
    font-size: 40px;
    border:10px solid #f2f2f2 ;
    background-color: #f2f2f2 ;
}
.igri{
    color:#01070e ;
    position: relative;
    top: -55px;
    font-size: 40px;
    border:10px solid white ;
    background-color:white ;
}
.gölge{
    box-shadow: 5px 5px 10px gray;
}
.gölge img:hover{
    opacity: 0.8;
    
}
.galeri{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.8;
}